run = "index.html"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python -m http.server 5000"]

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Run"
author = 11836116
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"

[[workflows.workflow]]
name = "Run Web Server"
author = 11836116
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 5000"

[[workflows.workflow]]
name = "Web Server"
author = 11836116
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 5000 --cors"

[[workflows.workflow]]
name = "Web Server"
author = 11836116
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 5000 --cors"

[[ports]]
localPort = 5000
externalPort = 80
